<h1>Rainforest2</h1>

<p><%= link_to "Add New", "/products/new" %></p>

<hr>
<% @products.each do |product| %>
  <p>
    Name:        <%= link_to product[:name], "/products/#{product.id}" %>
  </p>
  <p>Description: <%= product[:description] %></p>
  <p>Price:       <%= product.formatted_price %></p>
<hr>
<% end %>
