<h1>Rainforest2</h1>

<p><%= link_to "Add New", "/products/new" %></p>

<hr>
<% @products.each do |product| %>
  <p><%= link_to product[:name], "/products/#{product.id}" %></p>
  <p>Description:<%= product[:description] %></p>
  <p>$<%= product.formatted_price %></p>
<hr>
<% end %>
